.soft-undeleted {
    opacity: 0.6;
}

#portfolioData {
    margin-top : 5px;
    margin-bottom : 10px;
}

#statistics {
    display: none;
}

#titleOverlay {
    color : rgb(106, 199, 189);
    font-size: 15px;
    font-weight: 900;
    
}