#searchString {
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
}
#searchbtn {
    margin-left: 20px;
    background-color : rgb(106, 199, 189);
    color : white ;
    font-weight: 1000;
}
#addBtn {
    background-color : rgb(106, 199, 189);
    color : white ;
    font-weight: 1000;
}

#textTheme {
    color : rgb(106, 199, 189);
    font-weight: 1000;
}