@import '../../_sass/abstracts/index';

$border: 2px solid #000;

.page-section {
    &__header {
        margin-bottom: $grid-gutter-width;

        & .title > h1 {
            border: $border;
            padding-top: ($grid-gutter-width / 2);
            padding-bottom: ($grid-gutter-width / 2);

            text-transform: uppercase;

            & span {
                position: relative;
                display: inline-block;
                z-index: 1;

                &::before {
                    position: absolute;
                    z-index: -1;
                    content: '';

                    width: 100%;
                    height: 1em;

                    // background: $color-purple;
                    transform: translate(-0.42em, 0.42em);
                }
            }
        }
    }
    &__footer {
        margin-top: $grid-gutter-width;
    }

}

#success {
    color : rgb(113, 187, 243);
    font-style: bold;
    margin-top: 5px;
}

#stockx {
   

}
.image {
    background-color: white;
}

#kaart {
    padding-right : 150px
}

.description {
    margin-bottom: 15px;
    margin-top: 15px;
}

#colorway {
    font-style: bold;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 10px;
}

#dropdown {
    font-size: 15px
}

#price {
    font-weight: 650 ;
    font-size : 15px;
    color : rgb(24, 137, 224);
}

