@import '../../_sass/abstracts/index';

.page-header {
    margin-bottom: $grid-gutter-width;
    background-color : blue

    
}

.auth-toggle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    & > img {
        height: 32px;
        width: 32px;
        border-radius: 50%;
        object-fit: cover;
    }
}

#navbar{
    background-color  :rgb(106, 199, 189);
    color : white
}

#navtekst {
    color: white;
    font-size :18px
}